.pd30{
  padding: 30px;
}
.pd20{
  padding: 20px;
}
.pd10{
  padding: 10px;
}

.pdt30{
  padding-top: 30px;
}
.pdt20{
  padding-top: 20px;
}
.pdt10{
  padding-top: 10px;
}

.pdl30{
  padding-left: 30px;
}
.pdl20{
  padding-left: 20px;
}
.pdl10{
  padding-left: 10px;
}